.days {
  display: flex;
  justify-content: center;
}

.days span {
  font-size: 18px;
}

.iconCard {
  width: 200px;
}

.numbers-time span {
  margin-top: -10px;
}

.timer-count {
  display: flex;
  justify-content: center;
}

.Countdown-col-element {
  z-index: 1000;
  margin-left: 15px;
  font-family: 'Lora', serif;
  color: rgb(28, 28, 28);
  font-size: 30px;
  letter-spacing: 1px;
}

.timer {
  display: inline;
}
