.parallax-bank {
  margin-top: 150px;
  /* The image used */
  background: black;
  background-image: url("../../assets/_24A8317.jpg");
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.modal-content {
  width: 320px;
  padding: 30px;
}

.regalo {
  margin-top: 50px;
  font-family: 'Cormorant Garamond', serif;
}

.text-regalo {
  text-align: center;
  letter-spacing: 0.9px;
}

.text-bank {
  
  display: flex;
  justify-content: center;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0.9px;
}


