.parallax-2 {
    margin-top: 150px;
    /* The image used */
    background-image: url("../../assets/_24A8169.jpg");
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
