.title-history {
    margin-top: 260px;
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1.3px;
}


@media (max-width: 320px) {
    .title-history {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        font-family: 'Cormorant Garamond', serif;
        letter-spacing: 1.3px;
    }
  }