.title-history {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.history {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;
    width: 700px;

}